




/*----------------------------*
* 01.Light on dark
* Typesets
* color - container - element
*-----------------------------*/

@light-dark-hero: 	#ffffff;
@light-dark-sub:	#fafafa;
@light-dark-meta:	#999999;
@light-dark-data:	#ffffff;
@light-dark-words:	#ffffff;
@light-dark-list:	#ffffff;
@light-dark-link:	#ffffff;


/*----------------------------*
* 02.Dark on light
*-----------------------------*/

@dark-light-hero:	#0d0d0d;
@dark-light-sub:	#999999;
@dark-light-meta:	#666666;
@dark-light-data:	#666666;
@dark-light-words:	#999999;
@dark-light-list:	#1a1a1a;
@dark-light-link:	#e86ca0; //Green

/*----------------------------*
* 03.Light on color
*-----------------------------*/

@light-color-hero:	#ffffff;
@light-color-sub:	#ffffff;
@light-color-meta:	#999999;
@light-color-data:	#999999;
@light-color-words:	#ffffff;
@light-color-list:	#ffffff;
@light-color-link:	#ffffff;

/*----------------------------*
* 03.Color on light
*-----------------------------*/

@color-light-hero:	#ffffff;
@color-light-sub:	#ffffff;
@color-light-meta:	#22c2ba;
@color-light-words:	#ffffff;
@color-light-list:	#ffffff;
@color-light-link:	#23c1bb;


/*----------------------------*
* 01.Light
* Cells
* color - container - element
*-----------------------------*/

@cell-black:		#000000;
@cell-white:		#ffffff;
@cell-highlight:	#fafafa;
@cell-pink:			#ef3ed8;
@cell-green:		#23c1bb;

@light-border:		#f2f2f2;


@cell-alpha-white:	rgba(255, 255, 255, 0.93);


