

/*-----------------
* Full with images
*-----------------*/

//Set image to cover



.background-cover(@backgroundcover:cover){

		background-size: 50% 50%;
	  -webkit-background-size: @backgroundcover;
	  -moz-background-size: @backgroundcover;
	  -o-background-size: @backgroundcover;
	  background-size: @backgroundcover;
	  background-repeat: no-repeat;
}

.img-url(@img){
}

.img-full(@img){
	
  	background-image:url("@{img}");
  	
  	opacity:0.9;
	background-position: center center;

	.background-cover();

}

.masonry-layout(@columncount: 3, @columngap: 10px, @columnwidth: 100%){

	padding:					0;
	-moz-column-count: 			@columncount;
	-moz-column-gap: 			@columngap;
    -webkit-column-count: 		@columncount;
    -webkit-column-gap: 		@columngap;
    column-count: 				@columncount;
    column-gap: 				@columngap;
    width:						@columnwidth ;

}