.circular(@imgwidth:250px, @imgheight:250px, @circleradius:150px){

	width:@imgwidth;
	height:@imgheight;

	border-radius: @circleradius;
	-webkit-border-radius: @circleradius;
	-moz-border-radius: @circleradius;

}