
.border-raid(@rad: 6px){

	-moz-border-radius: 	@rad;
	-webkit-border-radius:	@rad;
	border-radius: 			@rad;
}


.circular(@imgwidth:250px, @imgheight:250px, @circleradius:150px){

	width:@imgwidth;
	height:@imgheight;

	border-radius: @circleradius;
	-webkit-border-radius: @circleradius;
	-moz-border-radius: @circleradius;

}

.quoteicon{
	font-size:12rem;
	font-family: @typeface1;
	line-height: 0rem;
	color: @color-light-meta;
}

.cta(@border-stroke:2px, @borderfill:solid, @border-color:@cell-green, @radius:@rad){
	text-transform: uppercase;
	font-size: @size-meta;

	.border-raid(@radius);

	border: @border-stroke @borderfill @cell-green;
	font-weight: @weight-meta;
	padding: 1rem 2.5rem;
}